extends ../layouts/default
include ../helpers/mixins

block variables
  - const title = "Robin.W";
  -
    workExp = [
      {
        "company": "Google",
        "position": "Interaction Designer",
        "accentColorStyle": "accent_color_green",
        "description": "I currently am the lead designer on the interaction design team for Google Play."
      },
      {
        "company": "Facebook",
        "position": "Product Designer",
        "accentColorStyle": "accent_color_blue",
        "description": "I’ve worked on a wide variety of internal tools for facebook over the past 6 years."
      },
      {
        "company": "Dribbble",
        "position": "Graphic Designer",
        "accentColorStyle": "accent_color_pink",
        "description": "I started my design career with Dribbble. I was incharge of creating illustrations for the platform."
      },
    ]
  -
    skillsetCards = [
      {
        "logoPath": "img/svg/rectangles.svg",
        "title": "Product Design",
        "text": "Working at Facebook has taught me a lot about how to understand users, solve problems and build great products.",
      },
      {
        "logoPath": "img/svg/pen.svg",
        "title": "Visual Design",
        "text": "My experience at dribbble has helped me learn to develop the eye for design. Colors, typography, layout and the whole package.",
      },
      {
        "logoPath": "img/svg/play.svg",
        "title": "Motion Design",
        "text": "I started my design journey with motion design in my college days. Motion is something that really fascinates me because of the flexibility of story telling. ",
      },
      {
        "logoPath": "img/svg/camera.svg",
        "title": "Photography",
        "text": "Clicking pictures really brings out the creative in me. Phtography really makes you look and percieve things in a different way.",
      },      
    ]
  -
    carouselItems = [
      {
        "logoPath": "img/svg/cbre.svg",
        "alt": "CBRE",
      },
      {
        "logoPath": "img/svg/epiq.svg",
        "alt": "EPIQ",
      },
      {
        "logoPath": "img/svg/f.svg",
        "alt": "F",
      },
      {
        "logoPath": "img/svg/leaf.svg",
        "alt": "Leaf",
      },
      {
        "logoPath": "img/svg/a-place-for-mom.svg",
        "alt": "a Place for Mom",
      },
      {
        "logoPath": "img/svg/m.svg",
        "alt": "M",
      },      
    ]
  -
    projectsCards = [
      {
        "imgPath": "img/salad",
        "title": "Restaurant Website Design",
        "description": "I worked with the guys at CBRE to redesign their entire website and mobile app fro both Android and iOS. This project lasted for 4 months and was a very challenging one.",
      },
      {
        "imgPath": "img/weather",
        "title": "Restaurant Website Design",
        "description": "I worked with the guys at CBRE to redesign their entire website and mobile app fro both Android and iOS. This project lasted for 4 months and was a very challenging one.",
      },
      {
        "imgPath": "img/screen",
        "title": "Restaurant Website Design",
        "description": "I worked with the guys at CBRE to redesign their entire website and mobile app fro both Android and iOS. This project lasted for 4 months and was a very challenging one.",
      },
      {
        "imgPath": "img/website",
        "title": "Restaurant Website Design",
        "description": "I worked with the guys at CBRE to redesign their entire website and mobile app fro both Android and iOS. This project lasted for 4 months and was a very challenging one.",
      },     
    ]
  -
    feedbackCards = [
      {
        "imgPath": "img/feedback-img-1",
        "text": "‘’Robin is one of the best designers I have worked with in my entire life. He is a designer who is very capable of taking up complex projects and delivers impeccable design.’’",
        "person": "Richard Owens",
        "position": "CEO, Company 1",
      },
      {
        "imgPath": "img/feedback-img-2",
        "text": "‘’I think Robin has an incredible gift. It has been an absolute pleasure to work with a designer of this caliber.’’",
        "person": "Emily Parker",
        "position": "CEO, Company 2",
      },
      {
        "imgPath": "img/feedback-img-3",
        "text": "‘’All I can say that, Robin is a phenomenal designer. The wavelength at which he thinks is astoundaing. I love the focus, passion and attention to detial in the design.’’",
        "person": "Vincent  Rudd",
        "position": "CEO, Company 1",
      },
    ]
  - 
    footerLinks = [
      {
        "name": "Home",
        "url": "#",
      },
      {
        "name": "About",
        "url": "#",
      },
      {
        "name": "Work",
        "url": "#",
      },
      {
        "name": "Process",
        "url": "#",
      },
      {
        "name": "Store",
        "url": "#",
      },
      {
        "name": "Blog",
        "url": "#",
      },
      {
        "name": "Reading List",
        "url": "#",
      },  
    ]

block content
  .main-page 
    include ../../blocks/modules/header/header
    .main-page__annotation
      .annotation
        .annotation__img-container
          picture
            source(media="(min-width: 768px)" srcset="img/person.webp 750w" sizes="750px" type="image/webp")
            source(srcset="img/annotation-person_750-650.webp" type="image/webp")
            img.annotation__img(src="img/person.jpg" width="750" height="650" alt="annotation-person")

        .annotation__body
          .annotation__heading 
            //h1.h1 I’m&nbsp;Robin Williams.<br />A&nbsp;Product Designer based&nbsp;in&nbsp;Italy.
            h1.h1 I’m Robin Williams. A Product Designer #[span.accent.accent_color_light-grey based in Italy.]
          .annotation__description
            p.text-body-1 I’m probably the most passionate designer you will ever get to work with. If you have a great project that needs some amazing skills, I’m your guy.

    .main-page__experience
      .experience
        .container
          .experience__subheading
            p.overline work experience
          .experience__heading 
            h2.h2 Companies I have worked for in the past
          ol.experience__cards
            each elem in workExp
              li.experience__card 
                .experience__position
                  h3.h3 #[span.accent(class=elem.accentColorStyle)= elem.company], #{elem.position}
                .experience__description 
                  p.text-body-2= elem.description

    .main-page__postcard 
      .postcard 
        .postcard__container 
          .postcard__text-content 
            .postcard__heading 
              h2.h2.h2_color_level-1 Philosophy & values
            .postcard__description 
              p.text-body-1.text-body-1_color_dark-grey I think everyone wants the same thing - relationship with humanity, peace with the metaphysical, and experience with the universe. I try to grasp these things with my values: authenticity, creativity, & hospitality.
            a.underlined-link.text-body-2.text-body-2_color_level-1(href="#") More about me
          .postcard__img-container 
            picture
              source(srcset="img/values-sphere.webp" type="image/webp")
              img.postcard__img(src="img/values-sphere.jpeg" alt="")

    .main-page__skillset 
      .skillset 
        .container 
          .skillset__wrap 
            .skillset__text 
              h2.h2.skillset__title Skillset
              p.text-body-1.text-body-1_color_light-grey.skillset__description With skills in over 4 different fields of design, I am the perfect person to hire when it comes to a full fledged project. Whatever your needs are, I can pretty much take on any challenge.
            .skillset__cards
              each elem in skillsetCards
                .skillset__card 
                  img.skillset__card-logo(src=elem.logoPath width="32px" height="32px" alt="") 
                  h3.h3.skillset__card-title= elem.title
                  p.text-body-2.skillset__card-text= elem.text

    .main-page__carousel
      .container
        .carousel
          each elem in carouselItems 
            .carousel__wrap-item
              .carousel__item
                img.carousel__img(src=elem.logoPath alt=elem.alt)
      .carousel-m
        each elem in carouselItems 
          .carousel-m__wrap-item
            .carousel-m__item
              img.carousel-m__img(src=elem.logoPath alt=elem.alt)

    .main-page__projects 
      .projects
        .container
          .projects__wrap
            .projects__subheading
              p.overline my projects
            .projects__heading 
              h2.h2 Work that I’ve done for the past 8 years
            each elem in projectsCards 
              .projects__card 
                .projects__img-container
                  picture
                    source(srcset=`${elem.imgPath}.webp` type="image/webp")
                    img.projects__img(src=`${elem.imgPath}.jpg` alt="")
                .projects__card-text
                  .projects__card-title
                    h3.h3= elem.title
                  .projects__card-description
                    p.text-body-1.text-body-1_color_light-grey= elem.description
            .projects__view-all
              a.text-button.projects__view-all-link(href="#") view all projects

    .main-page__postcard 
      .postcard.postcard_bc_violet
        .postcard__container 
          .postcard__text-content 
            .postcard__heading 
              h2.h2.h2_color_level-1 Instagram
            .postcard__description 
              p.text-body-1.text-body-1_color_dark-grey If you area a person who enjoys photography, then I highly recommend that you check out my Instagram. I’m an avid traveller and I capture the best moments that I would love to cherish with the world
            a.underlined-link.text-body-2.text-body-2_color_level-1(href="#") Follow me on IG
          .postcard__img-container 
            picture
              source(srcset="img/wing.webp" type="image/webp")
              img.postcard__img(src="img/wing.jpg" alt="")

    .main-page__dribbble
      .dribbble 
        .container 
          .dribbble__wrap 
            .dribbble__text-content 
              .dribbble__heading 
                h2.h2 Dribbble
              .dribbble__description 
                p.text-body-1.text-body-1_color_light-grey Each dribbble shot is made with love and care. Do check out my work on Dribbble. Likes and comments are appreciated.
              a.underlined-link.text-body-2.text-body-2_color_white(href="#") Follow me on Dribbble
            .dribbble__screen
              .dribbble__tab-bar
                .dribbble__tab-bar-circle
                .dribbble__tab-bar-circle
                .dribbble__tab-bar-circle
              .dribbble__img-container
                picture
                  source(srcset="img/dribbble-screen.webp" type="image/webp")
                  img.dribbble__img(src="img/dribbble-screen.jpg" alt="")

    .main-page__feedback
      .feedback 
        .container 
          .feedback__wrap 
            .feedback__text-content 
              .feedback__heading 
                h2.h2 This is what people say about me
              .feedback__description 
                p.text-body-1.text-body-1_color_light-grey Here are a few lines from people who I have worked with over the past 8+ years in my design career.
              a.underlined-link.text-body-2.text-body-2_color_white(href="#") See all testimonials
            .feedback__cards 
              each elem in feedbackCards 
                .feedback__card 
                  .feedback__img-container
                    picture
                      source(srcset=`${elem.imgPath}.webp` type="image/webp")
                      img.feedback__img(src=`${elem.imgPath}.jpg` alt="")
                  .feedback__card-text
                    .feedback__card-title
                      h3.h3= elem.text
                    .feedback__card-person
                      p.text-body-1.text-body-1_color_light-grey= elem.person
                      p.text-body-1.text-body-1_color_light-grey= elem.position

    .main-page__footer
      footer.footer 
        .container
          .footer__main-content
            .footer__logo-social
              a.footer__logo-wrap(href="#")
                img.footer__logo(src="img/svg/logo.svg" alt="logo")
              .footer__social-wrap
                a.footer__social(href="#")
                  img(src="img/svg/twitter.svg" alt="link to twitter")
                a.footer__social(href="#")
                  img(src="img/svg/dribbble.svg" alt="link to dribbble")
                a.footer__social(href="#")
                  img(src="img/svg/linkedin.svg" alt="link to linkedin")
            .footer__links-wrap
              ul.footer__links-list
                each elem in footerLinks 
                  li.footer__links-item
                    a.footer__link.text-body-2.text-body-2_color_white(href=elem.url)= elem.name

          .footer__copyright
            p Not Copyright 2020 • Robin Williams. Webflow cloneable
              

block scripts
  //script(src="js/vendor.js")
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js')
  script(type='text/javascript' src='//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.min.js')
  script(src="js/main.js")