extends ../layouts/default
include ../helpers/mixins
//- include ../../blocks/modules/typefaces/typefaces

block variables
  - const title = "ui-kit"
  - 
    typefaces = [
      {
        "sel": "p", 
        "class": "label-1", 
        "title": "Label 1", 
        "description": "117px Regular"
      },
      {
        "sel": "h1", 
        "class": "h1", 
        "title": "Heading 1", 
        "description": "78px Bold - H1"
      },
      {
        "sel": "h2", 
        "class": "h2", 
        "title": "Heading 2", 
        "description": "55px Bold - H2"
      },
      {
        "sel": "h3", 
        "class": "h3", 
        "title": "Heading 3", 
        "description": "24px Bold - H3"
      },
      {
        "sel": "h4", 
        "class": "h4", 
        "title": "Heading 4", 
        "description": "18px Bold - H4"
      },
      {
        "sel": "h5", 
        "class": "h5", 
        "title": "Heading 5", 
        "description": "16px Bold - H4"
      },
      {
        "sel": "p", 
        "class": "text-body-1", 
        "title": "Body 1", 
        "description": "18px Regular"
      },
      {
        "sel": "p", 
        "class": "text-body-2", 
        "title": "Body 2", 
        "description": "16px Regular"
      },
      {
        "sel": "p", 
        "class": "overline", 
        "title": "Overline", 
        "description": "16px Bold"
      },
      {
        "sel": "p", 
        "class": "text-button", 
        "title": "Button", 
        "description": "18px Bold"
      },
    ]
  -
    palette = [
      {
        "name": "Base",
        "colorCode": "#000000",
        "color": "#000000"
      },
      {
        "name": "Level 1",
        "colorCode": "#181823",
        "color": "#181823"
      },
      {
        "name": "Light Grey",
        "colorCode": "#DEECF9",
        "color": "#8491A0"
      },
      {
        "name": "Dark Grey",
        "colorCode": "#C7E0F4",
        "color": "#5B6876"
      },
      {
        "name": "Text",
        "colorCode": "#FFFFFF",
        "colorText": "#181823",
        "color": "#FFFFFF"
      },
      {
        "name": "Primary",
        "colorCode": "#5221E6",
        "color": "#5221E6"
      },
      {
        "name": "Green Accent",
        "colorCode": "#3CC74E",
        "color": "#3CC74E"
      },
      {
        "name": "Pink Accent",
        "colorCode": "#E95D90",
        "color": "#E95D90"
      },
      {
        "name": "Peach Accent",
        "colorCode": "#FFF3E4",
        "colorText": "#181823",
        "color": "#FFF3E4"
      },
      {
        "name": "Violet Accent",
        "colorCode": "#FBE4FF",
        "colorText": "#181823",
        "color": "#FBE4FF"
      },
      
    ]

block content
  .page-ui-kit

    .typefaces
      .container
        .typefaces__wrap
          each elem in typefaces
            .typefaces__row.row.align-items-center
              .col-md-9
                case elem.sel 
                  when "p": p(class=elem.class)= elem.title
                  when "h1": h1(class=elem.class)= elem.title
                  when "h2": h2(class=elem.class)= elem.title
                  when "h3": h3(class=elem.class)= elem.title
                  when "h4": h4(class=elem.class)= elem.title
                  when "h5": h4(class=elem.class)= elem.title
              
              .col-md-3
                p.text-body-1.text-body-1_alpha_80= elem.description

    .palette
      .container
        .palette__wrap
          each elem in palette 
            .color-card(style=`background-color: ${elem.color}`) 
              if elem.colorText == "#181823"
                h4.h4.h4_color_level-1= elem.name
                h4.h4.h4_color_level-1= elem.colorCode
              else
                h4.h4= elem.name
                h4.h4= elem.colorCode
       
block scripts
  //- script(src="js/vendor.js")
  //- script(src="js/main.js")